
<div class="container">
  <div class="loginform">
    <div class="head">
      <div class="heading">Welcome</div>
      <div class="logo">
        <span><i class="fas fa-audio-description"></i></span>
      </div>

      <div class="layout">
          <form >
             <div class="form">
            Email<br>
            <input type="text" name= "Email"><br>
            Password<br>
            <input type="password" name ="Password">
              </div>
          </form>
        
  
        <div class="button">
          <button type= "button" class="custom"> Login</button>
        </div>
      
        <div class="signup">
          <a>Don't have an account ? Sign Up</a>
        </div>
      </div>
        
    </div>
  </div>
</div> 
